/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');*/

:root{
    --yellow: #8f22ef;
    --blue : rgb(25, 0, 253);
    --liner :linear-gradient(to top left,red, yellow);
    --color: rgba(211, 18, 229, 0.87);
    --homeColor: rgba(0, 255, 255, 0.87);
}


*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background: #000000;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background: white;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .3rem solid rgba(234, 3, 255, 0.267);
    color:rgb(0, 0, 0);
}

.heading span{
    color:var(--color);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    box-shadow: 0 4px 30px rgb(0 0 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    border-bottom-right-radius: 30px;
    

}



header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.7rem solid rgb(173 107 239);
}

header .user .name{
    font-size: 3.5rem;
    color: #130838;
}

header .user .post{
    font-size: 2rem;
    color: #130838;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
/* From https://css.glass */
    background: rgba(0, 0, 0, 0.73);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.7px);
-webkit-backdrop-filter: blur(12.7px);
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;

    background:linear-gradient(purple, var(--homeColor));

}

.home .btn2{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-left: 5rem;

    font-size: 2rem;
    border-radius: 5rem;
}

.home .ico{
    list-style: none;
    padding-bottom: 50px;
    width: 40rem;
}

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height:11rem;
    width: 100%;
    background: url(../icon/wave.png);
    background-size: 100rem 11rem; 
    background-repeat: repeat-x;
    animation:waves 10s linear infinite;
}

.home .wave2{
    animation-direction: reverse;
    opacity: .2;
}

.home .wave3{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}

.home .fa-cog{
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color:#fff;
    animation: rotate 10s linear infinite;
}

.home .nut1{
    display: flex;
    top:45px;
    left: 160px;
}

.home .nut2{
    display: flex;
    bottom: 31%;
    right: 5rem;
    animation-direction: reverse;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}


.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color: #00ffd0;
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}



.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;

}


.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}


.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:rgb(0, 0, 0);
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:linear-gradient(to left top,rgb(66, 65, 65),rgb(7, 6, 6));
    border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    text-align: center;
  padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}


.about .my_projects .category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}


.about .my_projects .category .box{
    height: 15rem;
    width:24rem;
    /* From https://css.glass */
    background: rgba(92, 86, 86, 0.48);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(46, 49, 49, 0.3);
    box-shadow: 0px 10px 4px rgba(61, 57, 57, 0.45);
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}
.about .my_projects .category h3{
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    color: yellow;
    margin-left: 3rem;
    margin-top: 100px;
}
.about .my_projects .category .backIcon{
    height: 3rem;
    width:3rem;

    overflow: hidden;
    cursor: pointer;
}



#skill_container{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#skill_container .skill_Item{
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}




.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid rgb(255, 2, 158);
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:blueviolet;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:rgb(0, 0, 0);
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}




/*.project{
  !*  display: flex;
    flex-direction: column;
    !*align-items: center;*!
    justify-content: space-evenly;
    background-color: #13c8e0;*!
}*/
#project_Content_Container{
   /* background-color: #1943e3;*/
    max-height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:3rem 0;
    overflow-y: scroll;
   /* -ms-overflow-style: none;  !* IE and Edge *!
    scrollbar-width: none;*/
}


#project_Content_Container .item{

    background-color: #e100ff;

    height: 20rem;
    width:30rem;
    border-radius: 10px;



    margin:2rem;
    flex-shrink: 2;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px #222;

}

#project_Content_Container .project_title{
    background-color: white;
    border-radius: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px #222;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:rgb(29, 25, 25);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:rgb(90, 26, 192);
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}



















/* media queries  */


@media (max-width: 400px ) {
    .home .nut1{
        display: none;
    }
    .home .nut2{
        display: none;
    }
}

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

    header{
        left:-120%;
    }

    #menu{
        display: block;
    }

    header.toggle{
        left:0%;
    }

    body{
        padding:0;
    }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }

}

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }

    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

}
